<a href="https://colab.research.google.com/github/AtrCheema/python-courses/blob/master/basics/copying_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Copying List

In [1]:
countries1 = ["Pakistan", "Iran", "Turkey"]
countries2 = countries1

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey']
['Pakistan', 'Iran', 'Turkey']

In [2]:
print(id(countries1),id(countries2))

140412754074056 140412754074056

In [3]:
countries2 = ["Qatar", "Malaysia", "Libanon"]
print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey']
['Qatar', 'Malaysia', 'Libanon']

In [4]:
print(id(countries1),id(countries2))

140412754074056 140412754179848

So the `countries2` list became different from `countries1` when we assigned a new different object to it.

What happens when we change the contents of list

In [5]:
countries1 = ["Pakistan", "Iran", "Turkey"]
countries2 = countries1

countries2[2] = "Syria"

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Syria']
['Pakistan', 'Iran', 'Syria']

The list `countries1` changed automatically. This is because, we don't have two lists in reality. We have one list with two names. What we did was `in place` change in `countries2` list and did not assign a new object to `countries2`, so the the name `countries2` still points to the same object as `countries1`.

### Copying using slicing

The above problem can be avoided by using the slice operator

In [6]:
countries1 = ["Pakistan", "Iran", "Turkey"]
countries2 = countries1[:]
countries2[2] = 'Syria'

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey']
['Pakistan', 'Iran', 'Syria']

In [0]:
print(id(countries1), id(countries2))

Now `countries1` and `countries2` are not same objects. 

What about sublists in a list?

In [7]:
countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = countries1[:]

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]
['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]

In [8]:
countries2[0] = "Syria"
print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]
['Syria', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]

In [9]:
countries2[3][1] = "Iraq"
print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]
['Syria', 'Iran', 'Turkey', ['Qatar', 'Iraq']]

So again `countries1` is changed even though we changed only `countries2` list. This is because when we copy a list containing sublists, the sublists are not copied but their reference is copied.

In [10]:
print(id(countries1[3]), id(countries2[3]))

140412991179208 140412991179208

The same can be achieved by using `copy` method of `list` object.

In [11]:
countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = countries1.copy()

print(id(countries1), id(countries2))

140412754397576 140412754431688

In [12]:
countries2[3][1] = "Iraq"

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]
['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]

In [13]:
print(id(countries1[3]), id(countries2[3]))

140412754395784 140412754395784

### Using `list` function

The `list` function converts a sequence into list, if it is not already a list

In [14]:
countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = list(countries1)

print(id(countries1), id(countries2))

140412754427976 140412754468168

In [15]:
print(id(countries1[3]), id(countries2[3]))

140412754399112 140412754399112

### using copy module

In [16]:
from copy import copy

countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]
countries2 = copy(countries1)

print(id(countries1), id(countries2))

140412754429896 140412754398728

In [17]:
print(id(countries1[3]), id(countries2[3]))

140412754395784 140412754395784

In [18]:
from copy import deepcopy

countries1 = ["Pakistan", "Iran", "Turkey",["Qatar", "Malaysia"]]

countries2 = deepcopy(countries1)

print(id(countries1), id(countries2))

140412754465544 140412754465736

Now `countries1` and `counries2` are different and also the sublists in both lists are different now.

In [19]:
print(id(countries1[3]), id(countries2[3]))

140412754468232 140412754430664

So if we make change in one sublist, the sublist in other list will not be affected.

In [20]:
countries2[3][1] = "Iraq"

print(countries1)

print(countries2)

['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Malaysia']]
['Pakistan', 'Iran', 'Turkey', ['Qatar', 'Iraq']]

but the strings in them are not copied so they still have same id.

In [21]:
print(id(countries1[0]), id(countries2[0]))

140412754430576 140412754430576

So `deepcopy` method from `copy` module is the safest way to copy a list when it contain sublists but it is also the slowest one among others.

But what if the two sublists in a list are themselves same objects?

In [22]:
countries1 = ["Pakistan", "Iran"]
b = [countries1,countries1] # there's only 1 object countries1
c = deepcopy(b)

# check the result
c[0] is countries1 # return False, a new object a' is created

False

In [23]:
c[0] is c[1]

True

In such a scenario, copying with nested for loops is the safest way. `for loops` will be described later.

In [0]:
countries1 = ["Pakistan", "Iran"]
b = [countries1,countries1] # there's only 1 object countries1

c = [[i for i in row] for row in b]

In [25]:
c[0] is countries1

False

In [26]:
c[0] is c[1]

False