<a href="https://colab.research.google.com/github/AtrCheema/python-courses/blob/master/basics/for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

Just like while loops, `for` loops allow an instruction to be executed a certain number of times. How many times? It depends upon iterator.

As per wikipedia 11 peaple have received [Nishan-e-Haider](https://en.wikipedia.org/wiki/Nishan-e-Haider) award in Pakistan. Let's say we want to iterate over this list.

In [1]:
NH_receivers = ['Saif Ali Janjua', 'Muhammad Sarwar', 'Tufail Muhammad',
                'Aziz Bhatti', 'Rashid Minhas', 'Muhammad Akran',
                'Shabbir Sharif', 'Muhammad Husain Janjua', 'Muhammad Mahfuz',
                'Sher Khan', 'Lalak Jan']

for shaheed in NH_receivers:
    print(shaheed)

Saif Ali Janjua
Muhammad Sarwar
Tufail Muhammad
Aziz Bhatti
Rashid Minhas
Muhammad Akran
Shabbir Sharif
Muhammad Husain Janjua
Muhammad Mahfuz
Sher Khan
Lalak Jan

In above example, a list is acting as an iterator. In fact it can be a tuple, string or any other sequence.
The basic syntax of for loop in python is:

```python
for variable in sequence:
    do something
```
The `variable` in above syntax is assigned a new new value from `sequence` upon every iteration.

In [2]:
for podcast in ("Hujjat", "The east is the podcast", "Philosophise this", "Lex Friedman"):
    print("I am listening to: ", podcast)

I am listening to:  Hujjat
I am listening to:  The east is the podcast
I am listening to:  Philosophise this
I am listening to:  Lex Friedman

In [3]:
scholars = {
    "Baqir al sadr": 1980,
    "Murtaza Mutahri": 1979,
    "Allama Iqbal": 1938,
    "Jamal ul din Afghani": 1897,
    "Ali Shariati": 1977,
    "Moh Husain Tabatabai": 1981
}

for scholar, date_of_death in scholars.items():
    print(scholar, "died in ", date_of_death)

Baqir al sadr died in  1980
Murtaza Mutahri died in  1979
Allama Iqbal died in  1938
Jamal ul din Afghani died in  1897
Ali Shariati died in  1977
Moh Husain Tabatabai died in  1981

# `for` with else

Just like `while` loops, the code under else gets executed if everything goes well within `for` loop. If let's say, we are running for loop to search an item in the iterator, and when we find the item, there is not point in continuing the `for` loop further. Hence we `break` out of for loop. In such a case code under `else` will not be executed.

```python
for variable in sequence:
    do something
else:
	do at last
```

In [4]:
for shaheed in NH_receivers:
    if shaheed == 'Rashid Minhas':
        print("Person from air force found")
        break
else:
    print('Search completed')

Person from air force found

# range

In [5]:
range(5)

range(0, 5)

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

We can alo iterate over a list using range.

In [7]:
for i in range(5):
    print(NH_receivers[i])

Saif Ali Janjua
Muhammad Sarwar
Tufail Muhammad
Aziz Bhatti
Rashid Minhas

In [8]:
for i in range(2,5):
    print(NH_receivers[i])

Tufail Muhammad
Aziz Bhatti
Rashid Minhas

#Skipping every nth value in iterator

We can also include step argument in range, which decides how big the jump/step we want to have in our iterator.

In [9]:
for i in range(2,8, 2):
    print(NH_receivers[i])

Tufail Muhammad
Rashid Minhas
Shabbir Sharif

We can also go backwards in the iterator

In [10]:
for i in range(8,2, -1):
    print(NH_receivers[i])

Muhammad Mahfuz
Muhammad Husain Janjua
Shabbir Sharif
Muhammad Akran
Rashid Minhas
Aziz Bhatti

In [11]:
for i in range(8,0, -2):
    print(NH_receivers[i])

Muhammad Mahfuz
Shabbir Sharif
Rashid Minhas
Tufail Muhammad

# accessing index

If we want to access index itself, we can do this by using `enumerate`.

In [12]:
for index,item in enumerate(NH_receivers, start=0): #default value of start is zero.
    print(item, ' is Nishan - Haider receiver number ', index)

Saif Ali Janjua  is Nishan - Haider receiver number  0
Muhammad Sarwar  is Nishan - Haider receiver number  1
Tufail Muhammad  is Nishan - Haider receiver number  2
Aziz Bhatti  is Nishan - Haider receiver number  3
Rashid Minhas  is Nishan - Haider receiver number  4
Muhammad Akran  is Nishan - Haider receiver number  5
Shabbir Sharif  is Nishan - Haider receiver number  6
Muhammad Husain Janjua  is Nishan - Haider receiver number  7
Muhammad Mahfuz  is Nishan - Haider receiver number  8
Sher Khan  is Nishan - Haider receiver number  9
Lalak Jan  is Nishan - Haider receiver number  10

which is equivalent to

In [13]:
index = 0
for item in NH_receivers:
    print(item, ' is Nishan - Haider receiver number ', index)
    index += 1

Saif Ali Janjua  is Nishan - Haider receiver number  0
Muhammad Sarwar  is Nishan - Haider receiver number  1
Tufail Muhammad  is Nishan - Haider receiver number  2
Aziz Bhatti  is Nishan - Haider receiver number  3
Rashid Minhas  is Nishan - Haider receiver number  4
Muhammad Akran  is Nishan - Haider receiver number  5
Shabbir Sharif  is Nishan - Haider receiver number  6
Muhammad Husain Janjua  is Nishan - Haider receiver number  7
Muhammad Mahfuz  is Nishan - Haider receiver number  8
Sher Khan  is Nishan - Haider receiver number  9
Lalak Jan  is Nishan - Haider receiver number  10

This is another way to keep track that how many times the loop has been executed.

# Iterating over more than one sequence

In [14]:
scholars = ['Baqir al sadr', 'Murtaza Mutahri', 'Allama Iqbal', 'Jamal ul din Afghani', 'Ali Shariati', 'Moh Husain Tabatabai']
date_of_death = [1980, 1979, 1938, 1897, 1977, 1981]

for scholar, dod in zip(scholars, date_of_death):
    print(scholar, ' died in year ', dod)

Baqir al sadr  died in year  1980
Murtaza Mutahri  died in year  1979
Allama Iqbal  died in year  1938
Jamal ul din Afghani  died in year  1897
Ali Shariati  died in year  1977
Moh Husain Tabatabai  died in year  1981

In [15]:
date_of_birth = [1935, 1919, 1877, 1838, 1933, 1904]
for scholar, dod, dob in zip(scholars, date_of_death, date_of_birth):
    print(scholar, ' was born in ', dob, ' and died in year ', dod)

Baqir al sadr  was born in  1935  and died in year  1980
Murtaza Mutahri  was born in  1919  and died in year  1979
Allama Iqbal  was born in  1877  and died in year  1938
Jamal ul din Afghani  was born in  1838  and died in year  1897
Ali Shariati  was born in  1933  and died in year  1977
Moh Husain Tabatabai  was born in  1904  and died in year  1981

But what if lengths of lists are not equal.

In [16]:
scholars = ['Baqir al sadr', 'Murtaza Mutahri', 'Allama Iqbal', 'Jamal ul din Afghani', 'Ali Shariati',
            'Moh Husain Tabatabai']
date_of_death = [1980, 1979, 1938, 1897, 1977, 1981, 1989]

print(len(scholars), len(date_of_death))

for scholar, dod in zip(scholars, date_of_death):
    print(scholar, ' died in year ', dod)

6 7
Baqir al sadr  died in year  1980
Murtaza Mutahri  died in year  1979
Allama Iqbal  died in year  1938
Jamal ul din Afghani  died in year  1897
Ali Shariati  died in year  1977
Moh Husain Tabatabai  died in year  1981

Simple `zip` will iterate over the point when all lists are equal and ignore if any sequence is larger than the others. If we want to iterate until the longest sequence, we have to use `zip_longest` from `itertools`

In [17]:
from itertools import zip_longest

scholars = ['Baqir al sadr', 'Murtaza Mutahri', 'Allama Iqbal', 'Jamal ul din Afghani', 'Ali Shariati',
            'Moh Husain Tabatabai']
date_of_death = [1980, 1979, 1938, 1897, 1977, 1981, 1989]

for scholar, dod in zip_longest(scholars, date_of_death):
    print('name: ', scholar, ' date of death: ', dod)

name:  Baqir al sadr  date of death:  1980
name:  Murtaza Mutahri  date of death:  1979
name:  Allama Iqbal  date of death:  1938
name:  Jamal ul din Afghani  date of death:  1897
name:  Ali Shariati  date of death:  1977
name:  Moh Husain Tabatabai  date of death:  1981
name:  None  date of death:  1989

notice the last printed line.

# accessing previous and next value

In [18]:
# we must start from 1 and end before last item in order to print correct values
for i in range(1, len(NH_receivers)-1): 
    print(NH_receivers[i], ' cambe before ', NH_receivers[i+1], ' and after ', NH_receivers[i-1])

Muhammad Sarwar  cambe before  Tufail Muhammad  and after  Saif Ali Janjua
Tufail Muhammad  cambe before  Aziz Bhatti  and after  Muhammad Sarwar
Aziz Bhatti  cambe before  Rashid Minhas  and after  Tufail Muhammad
Rashid Minhas  cambe before  Muhammad Akran  and after  Aziz Bhatti
Muhammad Akran  cambe before  Shabbir Sharif  and after  Rashid Minhas
Shabbir Sharif  cambe before  Muhammad Husain Janjua  and after  Muhammad Akran
Muhammad Husain Janjua  cambe before  Muhammad Mahfuz  and after  Shabbir Sharif
Muhammad Mahfuz  cambe before  Sher Khan  and after  Muhammad Husain Janjua
Sher Khan  cambe before  Lalak Jan  and after  Muhammad Mahfuz

# changing loop variable inside loop

Let's say we want to iterate over sequence from 0 to 10 i.e `0,1,2,3,4,5,6,7,8,9` but after `5` we wan to jump to `8` and then carry on. It means we should change the loop variable inside the loop. A naive mind might thing following approach would work

In [19]:
for i in range(10):
    if i==5:
        i +=3
    print(i)

0
1
2
3
4
8
6
7
8
9

But we had wished the output as `0,1,2,3,4,5,8,9`. 

The reasons is, for loop iterated over `0,1,2,3,4,5,6,7,8,9` and if we changed current value of `i`, it will not affect next value of `i` at next iteration. We have to use `while` loop in such a scenario.

In [20]:
i = 0
while i<10:
    if i==5:
        i += 3
    print(i)
    i +=1

0
1
2
3
4
8
9

# Flattening a list of lists

If we have a list of lists, and we want to flatten all the elements of that list into one list, we can use a nested for loop to achieve this.

In [21]:
prime_miniters = [['zafrullah jamali', 'chaudhry shujaat', 'shaukat aziz'],
                  ['yousuf raza gilani', 'raja pervaiz ashraf'],
                  ['nawaz sharif', 'shahid khaqan']]

print(len(prime_miniters))

all_pms = []
for era in prime_miniters:
    for pm in era:
        all_pms.append(pm)

all_pms

3

['zafrullah jamali',
 'chaudhry shujaat',
 'shaukat aziz',
 'yousuf raza gilani',
 'raja pervaiz ashraf',
 'nawaz sharif',
 'shahid khaqan']

In [22]:
print(len(all_pms))

7