<a href="https://colab.research.google.com/github/AtrCheema/python-courses/blob/master/basics/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro
A function is a box to which give some input and it gives you output after performing some operations in that input. In python, the input and output arguments are optional. The basic syntax of a minimal function in is as
```python
def FunctionName(InputArguments):
    commands to find output
    return output
```

As said earlier, `InputArguments` and `return` are optional.

In [1]:
def add_nums():
    pass

print(add_nums)

<function add_nums at 0x7fb5e2d7b6a8>

In [2]:
type(add_nums)

function

Following syntax can be used to call the function
```python
Output = FunctionName(InputArguments)
```

`Output` is optional and so does `InputArguments`

In [0]:
add_nums()

The following function takes two input arguments and addes them

In [4]:
def add_nums(_a, _b):  # for brevity, we can not write add_nums(_a+_b):
    print('_a: ', _a, ' _b:', _b)
    _a + _b

add_nums(1,5)

_a:  1  _b: 5

Inside the function, we name the two input arguments as `_a` and `_b`.

In [5]:
def add_nums(_a, _b): 
    print('_a: ', _a, ' _b:', _b)
    _a + _b

x = 12
y = 14
add_nums(x,y)

_a:  12  _b: 14

Outside function `12` is `x` but inside function, `12` is `_a`. The variable `_a` is not available outside fucntion.

In [8]:
def add_nums(_a, _b): 
    print('_a: ', _a, ' _b:', _b)
    c = _a + _b
    return c

x = 12
y = 14
add_nums(x,y)

_a:  12  _b: 14

26

Inside the function we created `c` and returned it. Outside the function when called the function, this value of `c` is printed the variable named `c` is not available itself. We can assign this value to a new variable whose is is `z` below. It can be any legal variable name.

Which variables can be seen inside the function and which can be seen outside the function will be covered under the topic global and local variables.

In [9]:
def add_nums(_a, _b): 
    print('_a: ', _a, ' _b:', _b)
    c = _a + _b
    return c

x = 12
y = 14
z = add_nums(x,y)
print('The function returns z: ', z)

_a:  12  _b: 14
The function returns z:  26

`c` and `z` have same values with the difference that `c` exists only inside the function. However, creation of `c` is not necessary, we can just return the result as it is.

In [10]:
def add_nums(_a, _b): 
    print('_a: ', _a, ' _b:', _b)
    return  _a + _b

x = 12
y = 14
z = add_nums(x,y)
print('The function returns z: ', z)

_a:  12  _b: 14
The function returns z:  26

Default arguments can be provided to input arguments. The default arguments are only used if we don't provide their values when calling them, otherwise their values are overwritten.

In [11]:
def add_nums(_a=12, _b=14): 
    print('_a: ', _a, ' _b:', _b)
    return  _a + _b

x = 114
y = 313
z = add_nums(x,y)
print('The function returns z: ', z)

_a:  114  _b: 313
The function returns z:  427

Above: The value from variable `x` is going to `_a` and will replace its default value. The value from variable `y` will go to `_b` and will overwrite its default value i.e. 14.

When we have have defined the default values of input arguments in function definition, we can skip one or more input arguments when calling the function as shown below.

In [12]:
def add_nums(_a=12, _b=14): 
    print('_a: ', _a, ' _b:', _b)
    return  _a + _b

y = 313
z = add_nums( y)
print('The function returns z: ', z)

_a:  313  _b: 14
The function returns z:  327

Above: The value from `y` will be assigned to `_a` while `_b` will use its default value.

In [13]:
def add_nums(_a=12, _b=14): 
    print('_a: ', _a, ' _b:', _b)
    return  _a + _b

y = 313
z = add_nums( _b=y)
print('The function returns z: ', z)

_a:  12  _b: 313
The function returns z:  325

Above: `_a` will use its default value while `_b` will get value of `y`.

In [14]:
def add_nums(_a=12, _b=14): 
    print('_a: ', _a, ' _b:', _b)
    return  _a + _b

x = 114
z = add_nums(_a = x)
print('The function returns z: ', z)

_a:  114  _b: 14
The function returns z:  128

Above: `_a` will use the value of `x` i.e. 114 while `_b` will use its default value i.e. 14.

In [15]:
def add_nums(_a=12, _b=14): 
    print('_a: ', _a, ' _b:', _b)
    return  _a + _b

z = add_nums(1)
print('The function returns z: ', z)

_a:  1  _b: 14
The function returns z:  15

Above: `1` will go to `_a` while `_b` will use its default value.

The function cal also be called without providing any input argument because both input arguments are optional. In this case the default values will be used.

In [16]:
def add_nums(_a=12, _b=14): 
    print('_a: ', _a, ' _b:', _b)
    return  _a + _b

z = add_nums()
print('The function returns z: ', z)

_a:  12  _b: 14
The function returns z:  26

We can define the optional arguments with obligatory arguments. In function below, `_c` is optional, while `_a` and `_b` are obligatory.

In [17]:
def add_nums(_a, _b, _c=14): 
    print('_a:', _a, '  _b:', _b, '  _c:', _c)
    return  _a + _b

z = add_nums(1,2)
print('The function returns z: ', z)

_a: 1   _b: 2   _c: 14
The function returns z:  3

Above: We have not provided the value for `_c`. As it was optional argument, its default value was used.

What will be the output of following function?

In [0]:
#z = add_nums()
#print('The function returns z: ', z)

Guess the output from following cell.

In [0]:
# z = add_nums(a=1, c=313)
# print('The function returns z: ', z)

# Return

A function returns `None` by default.

In [18]:
import random
qatleen = ['winsten churchil', 'rana sanaullah', 'obama', 'musharaf']

def print_qatal():
    print(random.choice(qatleen))
    return None

a = print_qatal()
type(a)

winsten churchil

NoneType

Even if a function does not return anything explicitly, it returns `None`.

In [19]:
def print_qatal():
    print(random.choice(qatleen))
    return

a = print_qatal()
type(a)

musharaf

NoneType

if a function does not return anythin, it returns `None`.

In [20]:
def print_qatal():
    print(random.choice(qatleen))

a = print_qatal()
type(a)

winsten churchil

NoneType

So it is impossible in python to write a function which returns absolutely nothing.

In [21]:
def func(a,b):
    x = a
    y = b
    return x,y

xx = func(5,12)
print(xx, type(xx))

(5, 12) <class 'tuple'>

Above: The function returns 2 arguments but we assigned it to 1 variable named `xx`. Thus, `xx` will be a tuple consisting of two values

In [22]:
xx, yy = func(5,12)
print(xx, type(xx))
print(yy, type(yy))

5 <class 'int'>
12 <class 'int'>

If the function returns fewer arguments that the variables assigned, then it will give error. Try calling `xx, yy, zz = func(5,12)` and it will give error.

If the function returns multiple values but we want to get only one value, we can do it as

In [25]:
xx = func(15,12)[1]
xx

12

# return a tuple from function

In [26]:
def retun_list(a):
    return [a]

out = retun_list(10)
type(out)

list

In [27]:
def return_tuple(a):
    return (a, a)

out = return_tuple(10)
type(out)

tuple

In [28]:
def return_tuple(a):
    return (a)

out = return_tuple(10)
type(out)

int

The reason is that it is comma `,` which makes something a tuple not the brackets. So in order to get a tuple from function, we must put comma event if there is only one object in the tuple as shown below.

In [29]:
def return_tuple(a):
    return (a,)

out = return_tuple(10)
type(out)

tuple

# function as input argument

We can assign a function to a variable and use that variable to call the function.

In [30]:
def print_me(to_print):
    print(to_print)

a = print_me

a('This goes into print_me')

This goes into print_me

Thus we can use functions as input arguments to other functions as well.

In [31]:
def magic(left, op, right):
    return op(left, right)


def my_op(a,b):
    return a==b

magic(2,my_op, 2)

True



# break vs return

In [32]:
def add_nums(a_list, break_point=5):
    _sum = 0.0
    for val in a_list:
        _sum += val
        if _sum>break_point:
            break
    return _sum

a = add_nums([1,2,3,4,5])
print(a)

6.0

As sooon as the value of `_sum` became greater than `break_point` the function exited and we got the value of _sum at that point.

In [33]:
a = add_nums([1,2,3,4,5], 50)
print(a)

15.0

Was the `break` statement executed above?

# docstring

The first string inside the functions is usually put for help. This is called `docstring`. It can be called by `__doc__` method

In [34]:
def fahrenheit(T_in_celcius):
    """This function converts temperature from celcius to Fahrenheit. """
    return (T_in_celsius * 9 / 5) + 32

fahrenheit.__doc__

'This function converts temperature from celcius to Fahrenheit. '

In [35]:
help(fahrenheit)

Help on function fahrenheit in module __main__:

fahrenheit(T_in_celcius)
    This function converts temperature from celcius to Fahrenheit.

If we want to know the name of a function as string we can do it as following.

In [36]:
converter = fahrenheit

converter.__name__

'fahrenheit'