<a href="https://colab.research.google.com/github/AtrCheema/python-courses/blob/master/basics/Lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def square(x):
    return x**2

square(2)

4

The basic syntax for lambda functiosn is

```python
lambda argument_list: expression
```

In [0]:
square = lambda x: x**2

In [3]:
square(2)

4

# lambda for more complex functions

In [4]:
def Centigrade_to_Fahrenheit(T_C):
    return (float(9)/5)*T_C + 32

Centigrade_to_Fahrenheit(37)

98.60000000000001

In [5]:
Centigrade_to_Fahrenheit = lambda T_C: (float(9)/5)*T_C + 32
Centigrade_to_Fahrenheit(37)

98.60000000000001

Lambda functions can be made for more than one input arguments as well.

In [6]:
x = lambda a,b: a+b
x(1,2)

3

Just like normal functions in python, lambda function can also compensate default input arguments.

In [7]:
x = lambda a,b=2: a+b
x(1)

3

`b` is an optional input argument in above function named `x`. 

Below, both input arguments are optional and have their default parameters set.

In [8]:
x = lambda a=1,b=2: a+b
x()

3

`if` and `if else` statements can also be used inside lambda.

In [9]:
x = lambda a,b=None: a+b if b is not None else a
x(1,2)

3

In [10]:
x(1)

1

# Combining lambda with map

When lambda is combined with `map` function, it results in very concise code.

In [11]:
a = [0, 1, 2, 3, 4,5 ,6 ,7, 8, 9]
squares = map(lambda x: x**2, a)
type(squares)

map

`squares` is an iterator, which can be verified.

In [12]:
from collections.abc import Iterator
isinstance(squares, Iterator)

True

In [13]:
for i in squares:
    print(i)

0
1
4
9
16
25
36
49
64
81

The sequence to which we want our function to `map` can be any sequence. It was `list` above while it is `tuple` below.

In [14]:
temperatures = (36.5, 37, 37.5, 38, 39)
t_f = map(lambda T_C: (float(9)/5)*T_C + 32, temperatures)
for t in t_f:
    print(t)

97.7
98.60000000000001
99.5
100.4
102.2

# Combining the power of lambda and dictionaries

In [15]:
TempUnitConverter = {
"Fahrenheit":{  
    "Fahrenheit":  lambda fahrenheit: fahrenheit * 1.0,  # fahrenheit to Centigrade
     "Kelvin":     lambda fahrenheit: (fahrenheit + 459.67) * 5/9,  # fahrenheit to kelvin
     "Centigrade": lambda fahrenheit: (fahrenheit - 32) / 1.8  # fahrenheit to Centigrade
},
"Kelvin":{
    "Fahrenheit":  lambda kelvin: kelvin * 9/5 - 459.67,  # kelvin to fahrenheit
     "Kelvin":     lambda k: k*1.0,     # Kelvin to Kelvin
     "Centigrade": lambda kelvin: kelvin - 273.15  # kelvin to Centigrade}
},
"Centigrade":{
    "Fahrenheit":  lambda Centigrade: Centigrade * 1.8 + 32,  # Centigrade to fahrenheit
     "Kelvin":     lambda Centigrade: Centigrade + 273.15,  # Centigrade to kelvin
     "Centigrade": lambda Centigrade: Centigrade * 1.0}
}

TempUnitConverter['Fahrenheit']['Kelvin'](98)  # converting from fahrenheit to kelvin

309.8166666666667

In [16]:
TempUnitConverter['Kelvin']['Centigrade'](273.15) # converting from kelvin to centigrade

0.0