<a href="https://colab.research.google.com/github/AtrCheema/python-courses/blob/master/basics/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Variables

## Variable
A variable is a way to link some data to a memory location. By memory I mean not the storage such as hard drive or USB etc rather memory such as RAM. How much memory will be allocated for a variable depends on what kind of and how much data is linked e.g a variable consisting 10 integers will hold less memory as compared to a variable consisting of a million integers. Similary a variable holding an integer will have different type of memory as compared to a variable holding a string say `ali`.

When we define a variable in python, the python checks the type of the variable and allocates some memory for that variable.

In [0]:
a = 10

So what has been done above is that a variable named `a` is assigned a value of 10. Behind the scenes python created an `object` and and the variable name `a` is a reference for that object.

In [0]:
a = 20

When I redefined the variable `a`, it means the location of memory which was holding the value 10 before, now holds 20. This means we have changed the contents of memory.

In [5]:
a = a + 10
print(a)

40

What kind of object python creates, depends upond the type of data. We can check the type of a variable by using the command `type(VariableName)`

In [6]:
type(a)

int

In [7]:
b = 2.0
type(b)

float

In [8]:
c = a+b
print(c, type(c))

42.0 <class 'float'>

In [9]:
d = a+a
print(d, type(d))

80 <class 'int'>

So what is significant here is that python is able to change the type of new variable based on the kind of value is going to be assigned to it. If a float value is going to be assinged to a vaiable, the python will change the type of this variable to float.

Another significant thing is that, we can assign any type of data to a variable. For example we can assign `int` to variable a, later we can assign `float` to variable and then we can assign a completly different type like `string` to a.

In [10]:
a = 'ali'
type(a)

str

When we assign a value to a variable and then assign that variable to a new variable, then both of these variables actually refer to the same object. We can verify this using the function `id(VariableName)`

In [11]:
a = 12
b = a
id(a), id(b)

(10914848, 10914848)

In [12]:
b = 14
id(a), id(b)

(10914848, 10914912)

So when we assigned a differnt data to b, a new object was created and now `b` refers to this this new object thus its identity changes now.

Following are valid variable names

In [13]:
ali9 = 12
Ali9 = 14
아타르 = 2
print(아타르)

2

variable name must not start from a number.

In [14]:
9ali = 29

SyntaxError: ignored

We can not name certain keywords as variable names. These keywords can be seen [here](https://docs.python.org/2.5/ref/keywords.html)

## Data Types
Data types signifies the type of operation that can be performed on that data. Python has following data types

### Numbers
To represent numerical values, python has three types
* integer
* float
* complex

In [16]:
a = 1
b = 0b101   # binary with base 2
x = 0o14 # octal with base 8
y = 0xe     # hexadecimals with base 16
print(a, type(a))
print(b, type(b))
print(x, type(x))
print(y, type(y))

1 <class 'int'>
5 <class 'int'>
12 <class 'int'>
14 <class 'int'>

In [17]:
print(bin(5))
print(oct(12))
print(hex(14))

0b101
0o14
0xe

In [18]:
a = 12.5e3
type(a)

float

In [19]:
x = 3 +4j  # consist of real and imagenary part
type(x)

complex

In [20]:
coke = False
water = True
type(coke)

bool

### Sequence
* strings
* lists
* tuple

In [0]:
s = 'What is the first question that should come to our mind in this life9?'
s2 = "Should Immanual Kannt be condemned for his racist views?"

In [24]:
s3 = 'Why the colonization isn\'t considered a crime?'
print(s3)

Why the colonization isn't considered a crime?

In [25]:
s3 = "Why the colonization isn't considered a crime?"
print(s3)

Why the colonization isn't considered a crime?

If we want to quote something with double strings inside a double quoted string, we can do it as following.

In [26]:
txt = "He said: \"It doesn't matter, if you enclose a string in single or double quotes!\""
print(txt)

He said: "It doesn't matter, if you enclose a string in single or double quotes!"

In [27]:
txt = '''Baqir al sadr was an Iraqi scholar.
He was born in 1935 and wrote his famour book "our philosophy" just at the age of 25.
He was kiiled at the age of 45 by Sadam Husain.'''
print(txt)

Baqir al sadr was an Iraqi scholar.
He was born in 1935 and wrote his famour book "our philosophy" just at the age of 25.
He was kiiled at the age of 45 by Sadam Husain.

#### Indexing

In [28]:
s = "Assalam o alaikum"
s[0]

'A'

In [29]:
s[7]

' '

In [31]:
len(s)

17

In [30]:
s[len(s)-1], s[-1]

('m', 'm')

#### Slicing

In [32]:
s[-3:], s[5:8], s[8:]

('kum', 'am ', 'o alaikum')

#### Concatenation

In [33]:
a = " Assalam" + " o" " alaikum"
a

' Assalam o alaikum'

#### Repeatition

In [34]:
b = a*3
b

' Assalam o alaikum Assalam o alaikum Assalam o alaikum'

We can find the lenght of a sequence object in python using the functin `len`. Since strings are also sequences, their length/size can also be found by `len`.

In [35]:
len(a), len(b)

(18, 54)

#### immutability

In [36]:
a[-1] = ". "

TypeError: ignored

In [37]:
a = "Muhammad"
b = "Muhammad"
a is b

True

In [38]:
a == b

True

In [39]:
a = "Muhammad!"
b = "Muhammad!"
a is b

False

In [40]:
a == b

True

In [41]:
a = "Muhammad1"
b = "Muhammad1"
a is b

True

In [42]:
a == b

True

### Range

It gives immutable sequence. We will further study its use later during in `for loops`.

In [43]:
a = range(4)
a

range(0, 4)

In [44]:
type(a)

range